<div class="my-3">
    <h2>MergeMap</h2>
    <hr>

    <div class="row ">
        <div class="col-md-8">
            <div class="form-row">
              <div class="form-group col-md-6">
                  <input type="text" class="form-control" placeholder="Input 1" name="input1" [formControl]="searchField1" />
              </div>
              <div class="form-group col-md-6">
                  <input type="text" class="form-control" placeholder="Input 2" name="input2" [formControl]="searchField2" />
              </div>
            </div>
        
        </div>
    </div>
    <p>Merged Data: <strong class="text-success">{{ combinedValue | async }}</strong></p>
</div>