.card:hover {
    background: #e3f2fd;
    color: #477698;
    box-shadow: 0 0 60px #b3cada inset;
}

 a:hover {   
    text-decoration: none;
}

.pad-05 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}