<div class="row">
    <div class="col-md-3 pad-05">
        <a routerLink = "from-event">
            <div class="card">
                <div class="card-body text-center">
                    FromEvent
                </div>
          </div>
        </a>
    </div>

    <div class="col-md-3 pad-05">
        <a routerLink = "interval">
            <div class="card">
                <div class="card-body text-center">
                    Interval & Timer
                </div>
          </div>
        </a>
    </div>

    <div class="col-md-3 pad-05">
        <a routerLink = "of-from">
            <div class="card">
                <div class="card-body text-center">
                    Of & From
                </div>
          </div>
        </a>
    </div>

    <div class="col-md-3 pad-05">
        <a routerLink = "toArray">
            <div class="card">
                <div class="card-body text-center">
                    toArray
                </div>
          </div>
        </a>
    </div>

    <div class="col-md-3 pad-05">
        <a routerLink = "custom-observables">
            <div class="card">
                <div class="card-body text-center">
                    Custom Observables
                </div>
          </div>
        </a>
    </div>

    <div class="col-md-3 pad-05">
        <a routerLink = "map">
            <div class="card">
                <div class="card-body text-center">
                    Map
                </div>
          </div>
        </a>
    </div>

    <div class="col-md-3 pad-05">
        <a routerLink = "pluck">
            <div class="card">
                <div class="card-body text-center">
                    Pluck
                </div>
          </div>
        </a>
    </div>

    <div class="col-md-3 pad-05 ">
        <a routerLink = "filter">
            <div class="card">
                <div class="card-body text-center">
                    Filter
                </div>
          </div>
        </a>
    </div>

    <div class="col-md-3 pad-05 ">
        <a routerLink = "tap">
            <div class="card">
                <div class="card-body text-center">
                    Tap
                </div>
          </div>
        </a>
    </div>

    <div class="col-md-3 pad-05 ">
        <a routerLink = "retry">
            <div class="card">
                <div class="card-body text-center">
                    Retry, RetryWhen, Scan & Delay
                </div>
          </div>
        </a>
    </div>

    <div class="col-md-3 pad-05 ">
        <a routerLink = "debounce">
            <div class="card">
                <div class="card-body text-center">
                    DebounceTime, DistinctUntilChanged
                </div>
          </div>
        </a>
    </div>

    <div class="col-md-3 pad-05 ">
        <a routerLink = "switchMap">
            <div class="card">
                <div class="card-body text-center">
                    SwitchMap
                </div>
          </div>
        </a>
    </div>

    <div class="col-md-3 pad-05 ">
        <a routerLink = "mergeMap">
            <div class="card">
                <div class="card-body text-center">
                    MergeMap
                </div>
          </div>
        </a>
    </div>

    <div class="col-md-3 pad-05 ">
        <a routerLink = "concatMap">
            <div class="card">
                <div class="card-body text-center">
                    ConcatMap
                </div>
          </div>
        </a>
    </div>

    <div class="col-md-3 pad-05 ">
        <a routerLink = "throttleTime">
            <div class="card">
                <div class="card-body text-center">
                    ThrottleTime
                </div>
          </div>
        </a>
    </div>

    <div class="col-md-3 pad-05 ">
        <a routerLink = "startWith">
            <div class="card">
                <div class="card-body text-center">
                    StartWith
                </div>
          </div>
        </a>
    </div>

    <div class="col-md-3 pad-05 ">
        <a routerLink = "combineLatest">
            <div class="card">
                <div class="card-body text-center">
                    CombineLatest 
                </div>
          </div>
        </a>
    </div>

    <div class="col-md-3 pad-05 ">
        <a routerLink = "catchError">
            <div class="card">
                <div class="card-body text-center">
                    CatchError 
                </div>
          </div>
        </a>
    </div>

    <div class="col-md-3 pad-05 ">
        <a routerLink = "zip">
            <div class="card">
                <div class="card-body text-center">
                    Zip 
                </div>
          </div>
        </a>
    </div>

    <div class="col-md-3 pad-05 ">
        <a routerLink = "first-last">
            <div class="card">
                <div class="card-body text-center">
                    First & Last 
                </div>
          </div>
        </a>
    </div>

    <div class="col-md-3 pad-05 ">
        <a routerLink = "distinct">
            <div class="card">
                <div class="card-body text-center">
                    Distinct
                </div>
          </div>
        </a>
    </div>

    <div class="col-md-3 pad-05 ">
        <a routerLink = "merge">
            <div class="card">
                <div class="card-body text-center">
                    Merge
                </div>
          </div>
        </a>
    </div>
    
    <div class="col-md-3 pad-05 ">
        <a routerLink = "subject">
            <div class="card">
                <div class="card-body text-center">
                    Subject and BehaviorSubject
                </div>
          </div>
        </a>
    </div>

    <div class="col-md-3 pad-05 ">
        <a routerLink = "replay">
            <div class="card">
                <div class="card-body text-center">
                    Replay Subject
                </div>
          </div>
        </a>
    </div>

    <div class="col-md-3 pad-05 ">
        <a routerLink = "asyncSubject">
            <div class="card">
                <div class="card-body text-center">
                    Async Subject
                </div>
          </div>
        </a>
    </div>

    <div class="col-md-3 pad-05 ">
        <a routerLink = "behaviorSubject">
            <div class="card">
                <div class="card-body text-center">
                    Behavior Subject
                </div>
          </div>
        </a>
    </div>
</div>