<div class="my-3">
    <h2>First & Last </h2>
    <br>
    <div class="row">
        <div class="col-md-6">
            <p><strong>Ex 01 | First</strong></p>
            <p class="border rounded bg-light py-2 px-3">
                Data: <strong class="text-success">('Lakhan', 'Deepak', 'Khandelwal')</strong> 
            </p>
            <hr>

            <p>First Element: <strong class="text-success">{{first}}</strong></p>
        </div>

        <div class="col-md-6">
            <p><strong>Ex 02 | Last</strong></p>
            <p class="border rounded bg-light py-2 px-3">
                Data: <strong class="text-success">('Lakhan', 'Deepak', 'Khandelwal')</strong> 
            </p>
            <hr>
            <p>First Element: <strong class="text-success">{{last}}</strong></p>

            <!-- <p><strong class="text-danger">{{errorMsg2}}</strong></p> -->
        </div>
    </div>
    
</div>