<div class="my-3">
    <h2>Distinct</h2>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <p class="border rounded bg-light py-2 px-3">
                Data: <strong class="text-success">(1, 1, 2, 2, 2, 1, 2, 3, 4, 3, 2, 1)</strong> 
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Distinct Elements:</div>
                <div class="card-body">
                    <ul id="elContainer"></ul>

                </div>
            </div>
        </div>
    </div>
</div>