<div class="my-3">
    <h2>Retry, RetryWhen, Scan & Delay</h2>
    <br>
    <div class="row">
        <div class="col-md-6">
            <table class="table" *ngIf="person != null">
                <tr>
                    <td>Id</td>
                    <td>{{person.id}}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{person.name}}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{person.gender}}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{person.phone}}</td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td>{{person.email}}</td>
                </tr>
                <tr>
                    <td>Skills</td>
                    <td>{{person.skill}}</td>
                </tr>
            </table>
        </div>
    </div>
    <button class="btn btn-primary" type="button" (click) = "fetchData()">
        <span *ngIf = "fetching" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        {{ fetching ? 'Fetching...' : 'Fetch Details'}}
    </button>
    <br><br>
    <p>
        Status: 
        <strong [ngClass] = "{'text-success': status == 'Data Fetched', 'text-danger': status == 'Problem Fetching Data', 'text-primary': status == 'Fetching Data'  }"> {{status}}
            <div *ngIf = "fetching"  class="spinner-grow spinner-grow-sm text-warning" role="status">
                <span class="sr-only">Loading...</span>
              </div>
        </strong>
    </p>
</div>